<a href="https://colab.research.google.com/github/PSooJeong/R_exam/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%ACpandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#파이썬 pandas 패키지
###1.2 pandas 패키지의 설치 및 구동과 자료의 생성

In [ ]:
!pip install pandas -V # 설치 및 버전확인(-V)

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
pd.__version__

### [Python 1.1] 판다스의 Series객체와 DataFrame 객체의 생성

 
*   Series : 각 원소가 이름을 갖는 1차원 혼합 자료형 배열
*   DataFrame : 행이름과 열이름이 있는 크기 변경이 가능한 테이블 구조의 배열

In [ ]:
s = Series([10,20,30], index=['a','b','c']) #Series 객체에서 s를 만든다(index 원소의 이름(label)지정, 중복허용)

s

In [ ]:
df=DataFrame(s,columns=["A"]) #s로 부터 DataFrame 객체 df를 만든다(열이름 A)
df

In [ ]:
s1 = Series(index=['a','b','c'])
s1

In [ ]:
#s1=Series(index=['a','b','c'],[10,20,30]) # def Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False) 순서대로 입력한다.

In [ ]:
s1=Series()#DeprecationWarning
s1

In [ ]:
s.__class__#s객체 클래스확인하기

In [ ]:
df.__class__#df 클래스확인하기

###[Python 1.2] Series와 DataFrame에서 index와 columns

In [ ]:
s.to_numpy()  #s객체(Series)를 numpy의 array클래스로 변경(to_numpy) --넘파이의 3차원 벡터

In [ ]:
df.to_numpy() #df객체(DataFrame)를 numpy의 array클래스로 변경(to_numpy)  --넘파이의 3차원 벡터

In [ ]:
s.to_numpy().shape #--넘파이의 3차원 벡터

In [ ]:
df.to_numpy().shape #--넘파이의 3차원 벡터

In [ ]:
s.index    #s = Series([10,20,30], index=['a','b','c'])

In [ ]:
df.index  #df=DataFrame(s,columns=["A"])

In [ ]:
df.columns  #df=DataFrame(s,columns=["A"])

##**[표6-1] 파이썬과 R에서의 데이터 프레임**


클래스이름 / 열이름 / 행이름 / 크기         
1.   판다스
> *   DataFrame
> *   columns
> *   **index**(행)
> *   shape
2.    R
> *  data.frame
> *  names
> *  row.names
> *  dim

## [Python 1.3] 딕셔너리와 행렬을 이용한 DataFrame의 생성

In [ ]:
d = { 'one' : Series([1,2], index=['a','b']),              #딕셔너리 d={키1:값1,키2:값2,키3:값3,}
      'two' : Series([1,2,3], index=['a','b','c']) }       #키(key) 'one' : 값(value) Series([1,2], index=['a','b'])
d

In [ ]:
df=DataFrame(d)     # df변수에 딕셔너리 d를  DataFrame으로 저장
df

In [ ]:
x = np.arange(4).reshape((2,2)) # 넘파이 2차원 행렬을 만든다
x

In [ ]:
#x1=np.arange(9).reshape(3,1) # 3 * 3
x1

In [ ]:
df=DataFrame(x) # 넘파이 행렬 x를 DataFrame으로 바꾸고 df에 저장
df

In [ ]:
df.columns=["A","B"] #열이름지정하기(columns)
df

In [ ]:
df.index=[11,12]   #행이름지정하기(index)
df

## 1.3 CSV 파일 입출력

## [Python1.4] CSV 파일 입출력을 통한 DataFrame 읽기와 쓰기

In [ ]:
from pandas import read_csv
f=read_csv('/content/admission.csv')# 콜랩으로 업로드 
f

In [ ]:
f.__class__#class 확인하기

In [ ]:
f.shape #행렬.shape

In [ ]:
f.to_csv('/content/old_admission.csv')#csv로 저장하기

## 1.4 R데이터 불러오기

## [Python 1.5] R데이터를 불러서 DataFrame으로 활용하기

In [ ]:
import statsmodels.api as sm  # statsmodels 패키지로 R에 있는 데이터 불러오기
#########################
# trees : 31그루의 블랙체리나무 폭(Girth),키(Height),부피(Volume)
# mtcars : 32종류의 자동차에 대해서 연비에 영향을 미칠 만한 특성변수
# iris : 세종류의 붓꽃 setosa, versicolor, virginica 각각 50개씩의 꽃의 꽃잎, 꽃받침의 폭과 길이
#########################
#trees = sm.datasets.get_rdataset("trees")['data'] 
trees = sm.datasets.get_rdataset("trees").data
mtcars = sm.datasets.get_rdataset("mtcars")['data']
iris = sm.datasets.get_rdataset("iris")['data']
#trees

In [ ]:
trees.__class__

In [ ]:
trees.shape

## 1.5 Series 자료의 이용

## [Python1.6]Series의 '이름 인덱스'와 '위치 인덱스'

In [ ]:
s1 = pd.Series([1.0, 2, 3])#위치 인덱스

sa = pd.Series([1.0, 2, 3], index=['a','b','c'])#이름 인덱스

sc = pd.Series([0.0, 1, 2], index=['a','b','d'])

sn = pd.Series([1,2,1,3,3,5,3,4])#위치 인덱스

In [ ]:
s1

In [ ]:
s1-2 #위치인덱스 각 원소에서 2.0씩을 뺀다

In [ ]:
sa

In [ ]:
sc

In [ ]:
sac=sa+sc
#이름 인덱스로 지정하면 동일한 인덱스끼리 연산이 이루어짐 
#공통 인덱스가 없으면 NaN(not-a-number:결측값)
#어느 한쪽의 이름 인덱스만 있으면 NaN
sac

## [Python 1.7] Series에 결측치 NaN의 처리

In [ ]:
sac

In [ ]:
sac.isnull() # 값이 비어있는지 확인하기

In [ ]:
sac.notnull()# 값이 채워져 있는지 확인하기

In [ ]:
sac.fillna(-1.0) #NaN을 -1.0으로 채우기

In [ ]:
sx=sac.dropna()# NaN인 행 삭제하기
sx

In [ ]:
sy=sx.append(sc[:2])#sx에 sc[:2]를 붙여서 sy만들기
sy

In [ ]:
sy.drop('a')#이름 인덱스가 'a' 제외

In [ ]:
sy

## [표6-2] Series에 대한 주요 메소드

In [ ]:
import statsmodels.api as sm  # statsmodels 패키지로 R에 있는 데이터 불러오기
mtcars = sm.datasets.get_rdataset("mtcars")['data']

In [ ]:
mtcars.head(0)#객체의 앞부분 제시

In [ ]:
mtcars.tail(3)#객체의 뒷부분 제시

In [ ]:
mtcars['vs'].unique()# 중복을 제거하여 값을 제시

In [ ]:
mtcars['vs']

In [ ]:
mtcars['vs'].nunique()# ???중복되지 않는 경우의 갯수  ???

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [400, 500, 600]}) 
df

In [ ]:
new_df = pd.DataFrame({'B': [4, 5, 6], 'C': [7, 8, 9]}) 
new_df

In [ ]:
df.update(new_df) #update사용하기
df

In [ ]:
new_m=mtcars['vs'].replace(1,100)
new_m
#객체의 해당 값을 새로운 값으로 변경(1을 100으로 변경)

In [ ]:
mtcars.shape

## [표 6-3] Series에 대한 describe 적용 결과

In [ ]:
mtcars.describe()#기본적인 통계량 제시



*   count : 자료의 갯수
*   mean : 자료의 평균
*   std : 표준편차
*   min : 최소값
*   25% : 제1사분위수
*   50% : 제2사분위수
*   75% : 제3사분위수
*   max : 최댓값

## [Python 1.8] Series에 대한 메소드 적용 예

In [ ]:
sn = pd.Series([1,2,1,3,3,5,3,4])
sn.head()

In [ ]:
sn.describe()

In [ ]:
list(sn.unique())#중복되지 않는 경우 수를 리스트로 만든다.

In [ ]:
sn.nunique()

In [ ]:
sn.replace([1,2],0)#1이거나 2이면 0으로 대체함

## 1.6 DataFrame 자료의 이용

##(1) DataFrame의 일부 선택과 일부 변경

#### **① df, dg를 이용하는 방법**

In [ ]:
df= { 'A' : Series([1,1,0], index=['x','y','z']),              
      'B' : Series([1,1,0], index=['x','y','z']),
      'C' : Series([1,1,0], index=['x','y','z']),
      'D' : Series([0,0,0], index=['x','y','z'])}

In [ ]:
df=DataFrame(df)     # df변수에 딕셔너리 d를  DataFrame으로 저장
df

In [ ]:
df[0:1]#0행 선택

In [ ]:
df['x':'y']

In [ ]:
df[::-1]  # 모든 행

In [ ]:
df[:]

In [ ]:
df['A'] #A열

In [ ]:
df[['A','B']]  #열의 이름 2개 이상 일때 [[]]

In [ ]:
df[df>0]  #전체 행과 열을 모두 출력 ,z 행과 D열을 NaN표시

In [ ]:
df[df.A>0]  #A열이 양수인 x, y 행만 출력

#### **② df.iloc, dg.iloc을 이용하는 방법**

In [ ]:
dg= { 'A' : Series([1,1,0], index=[0,1,2]),              #딕셔너리 d={키1:값1,키2:값2,키3:값3,}
      'B' : Series([1,1,0], index=[0,1,2]),
      'C' : Series([1,1,0], index=[0,1,2]),
      'D' : Series([0,0,0], index=[0,1,2])}

In [ ]:
dg=DataFrame(dg)
dg

In [ ]:
df.iloc[0,0]

In [ ]:
df.iloc[[0],[0]]

In [ ]:
df.iloc[:,[0]]

In [ ]:
df.iloc[[2,0],::-1]  #???

#### **③ df.*loc*, dg.*loc* 이용하는 방법**

In [ ]:
df.loc['x','A']  #1

In [ ]:
df.loc[['x'],['A']] #1

In [ ]:
dg.loc[0,'A'] #1

In [ ]:
dg.loc[[0],['A']] #1

#### **④ df.*at*, dg.*iat* 이용하는 방법**

In [ ]:
df.iat[0,0] #df.iloc[0,0]과 같다

In [ ]:
df.at['x','A'] #df.loc['x','A']

#### **⑤ 선택된 영역의 변경**

In [ ]:
df[df>0]

In [ ]:
df[df>0]=0
df

##[Python 1.9] tree4 데이터의 일부 선택

In [ ]:
import statsmodels.api as sm  # statsmodels 패키지로 R에 있는 데이터 불러오기
#########################
# trees : 31그루의 블랙체리나무 폭(Girth),키(Height),부피(Volume)
# mtcars : 32종류의 자동차에 대해서 연비에 영향을 미칠 만한 특성변수
# iris : 세종류의 붓꽃 setosa, versicolor, virginica 각각 50개씩의 꽃의 꽃잎, 꽃받침의 폭과 길이
#########################
#trees = sm.datasets.get_rdataset("trees")['data'] 
trees = sm.datasets.get_rdataset("trees").data
mtcars = sm.datasets.get_rdataset("mtcars")['data']
iris = sm.datasets.get_rdataset("iris")['data']
trees.head()

In [ ]:
tree4=trees[0:4].copy()#0,1,2,3행 복사하기
tree4.index=['B','E','C','A']#행이름 지정하기
tree4

In [ ]:
tree4[tree4>10]  ##Girth 데이터가 10 이 안되면 NaN

In [ ]:
tree4[tree4.Height > 65]  #height가 65 초과 데이터

In [ ]:
tree4['E':'C'] #E행부터 C행까지 출력

In [ ]:
tree4[['Girth','Height']]#열이름 [['열이름']]

## [Python 1.10] iloc,loc을 이용한 tree4 데이터의 일부 선택

In [ ]:
tree4.iloc[[0,2],[0,1]] #2행 2열

In [ ]:
tree4.iloc[:2,[0,1]] #2행 2열

In [ ]:
tree4.iloc[:2,0:1] #2행 1열

In [ ]:
tree4.loc['E':'C'] #E행부터 C행까지

In [ ]:
tree4.loc[['E','C'],['Girth','Height']]#2행 2열

In [ ]:
tree4.loc[['E','C'],['Girth','Volume']]#2행 2열

##(2) DataFrame에 적용되는 주요 함수와 속성

##[표6-4] DataFrame에 적용되는 주요 함수와 속성 p.154

In [ ]:
import statsmodels.api as sm  # statsmodels 패키지로 R에 있는 데이터 불러오기
#########################
# trees : 31그루의 블랙체리나무 폭(Girth),키(Height),부피(Volume)
# mtcars : 32종류의 자동차에 대해서 연비에 영향을 미칠 만한 특성변수
# iris : 세종류의 붓꽃 setosa, versicolor, virginica 각각 50개씩의 꽃의 꽃잎, 꽃받침의 폭과 길이
#########################
#trees = sm.datasets.get_rdataset("trees")['data'] 
trees = sm.datasets.get_rdataset("trees").data
mtcars = sm.datasets.get_rdataset("mtcars")['data']
iris = sm.datasets.get_rdataset("iris")['data']
#trees

In [ ]:
iris.dtypes  #iris 원소의 자료형

In [ ]:
tn_iris=iris.to_numpy() #DataFrame을 numpy array로 변환
tn_iris

In [ ]:
df_iris=pd.DataFrame(iris)
df_iris.index  #DataFrame의 행이름(row label)

In [ ]:
df_iris.columns #DataFrame의 열이름(row label)

In [ ]:
df_iris.head(5)

In [ ]:
df_iris.T #DataFrame 전치하기 transpose()

In [ ]:
df_iris.sort_index() #DataFrame 행이름에 따른 정렬

In [ ]:
df_iris['Sepal.Length'].sort_values() #DataFrame 값에 따른 정렬

In [ ]:
s=df_iris['Species'] #꽃 이름 저장

In [ ]:
s.drop_duplicates() #중복된 행 제거

## [Python 1.11] 데이터의 전치와 행렬

In [ ]:
tree4.T #전치하기

In [ ]:
tree4.sort_index() #행이름 정렬

In [ ]:
tree4.sort_values('Height')#Height를 기준으로 정렬

In [ ]:
tree4.mean() #열을 기준으로 평균

In [ ]:
tree4.mean(1) #행을 기준으로 평균

In [ ]:
tree4.cumsum() #누적합

In [ ]:
tree4.apply(np.cumsum) #넘파이를 사용 누적합

In [ ]:
tree4.apply(lambda x:x.max()) # 람다함수 : 이름을 부여하지 않는 무명의 함수

## [표6-5] DataFrame에 적용되는 통계계산 목적 메소드들

In [ ]:
iris.count()

In [ ]:
iris.head()

In [ ]:
iris['Sepal.Length'].sum()

In [ ]:
iris['Sepal.Length'].mean()

In [ ]:
iris['Sepal.Length'].median()

In [ ]:
iris['Sepal.Length'].min()

In [ ]:
iris['Sepal.Length'].max()

In [ ]:
iris['Sepal.Length'].std()#표준편차

In [ ]:
iris['Sepal.Length'].var()#표본분산

In [ ]:
iris['Sepal.Length'].skew()#표본왜도

In [ ]:
iris['Sepal.Length'].kurt()#표본왜도

In [ ]:
iris['Sepal.Length'].quantile()#백분위수

In [ ]:
iris.cov()  #표본 공분산

In [ ]:
iris.corr()  #상관계수

## p.184 연습문제  [그림 6-1] 의 데이터 프레임 df, dg

#### **① df.loc['x']의 클래스는 무엇인가?**

In [ ]:
import pandas as pd
df=pd.DataFrame([[1,1,1,0],
                [1,1,1,0],
                [0,0,0,0]],
                index=['x','y','z'],
                columns=['A','B','C','D'])
dg=pd.DataFrame([[1,1,1,0],
                [1,1,1,0],
                [0,0,0,0]],
                columns=['A','B','C','D'])

In [ ]:
df

In [ ]:
dg

In [ ]:
df.loc['x'].__class__

#### **② df.loc을 이용하여 제1행('x')으로 이루어진 데이터프레임을 선택하려면?**

In [ ]:
df.loc[['x']]

#### **③ df를 이용하여 제1행('x')으로 이루어진 데이터프레임을 선택하려면?**

In [ ]:
df[0:1]

####  **④ dg.iloc[0:2],dg.loc[0:2],dg[0:2] 결과 비교**

In [ ]:
dg.iloc[0:2] #iloc 행 위치 : 0,1 행

In [ ]:
dg.loc[0:2] #loc 행이름 : 0,1,2 번

In [ ]:
dg[0:2] #행 위치 슬라이스 :0,1 행

####  **⑤ df.loc[::-1], dg.loc[::-1], df.loc[2::-1], dg.loc[2::-1] 결과 비교**

In [ ]:
df.loc[::-1]

In [ ]:
dg.loc[::-1]

In [ ]:
df.loc[2::-1]

In [ ]:
 dg.loc[2::-1]